$icon-green: #a8bf4d;
$icon-orange: #f7931d;
$icon-blue: #5b9aba;
$black: #000;
$lightgray: #929088;
$darkgray: #6a6759;
$accent-lightgreen: #ecffb9;
$accent-lightorange: #feef92;
$accent-lightyellow: #ffffb9;
$red: #c22100;