@import 'reset',
'variables',
'responsive-nav',
'default',
'component';

@mixin font($em){
    font-size: ($em*16) + px;
    font-size: ($em) + em;
}

body, html, main {
  /* important */
  height: 100%;
  background-color: $m-medmint;
}

nav {
  width: 100%;
  a, a:visited {
    color: white;
    text-decoration: none;
  }
}

// .headerimage {
//   background-image: url("../img/cd-background-1.jpg");
// }

.nav-toggle span {
  // hamburger toggle button 
  color: $m-cream;
  float: right;
  margin-right: 10%;
}

.containermain {
  width: 100%;
  overflow: hidden;
  // height: 3000px;
}

.timeline-left {
  float: left;
  // height: 3000px;
  background-color: $m-charcoal;
  // border-right: white 1px solid;
  padding-right: 10%;
  padding-left: 5%;
  max-width: 60px;
  border-top: 3px white solid;
  max-width: 10%;
  box-sizing: border-box;
}

.line {
  margin-left: 15%;
  border-left: 1px $m-cream solid;
  height: 3000px;

}

.story-right {
  width: 85%;
  float: left;
  // padding-right: 5%;
  border-top: 3px white solid;
  // padding-left:5%;
}

.headerphoto {
  width:100%;
  border-bottom: 3px white solid;
  border-top: 3px white solid;

}

p {
  font-family:"calluna";
  font-size: 1.2em;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  line-height: 1.3;
  padding-bottom: 20px
}

// .nav-collapse {
//   color: blue;
// }

h1 {
  font-family: "lato";
  font-style: italic;
  font-weight: 400;
  font-size: 2.5em;
  line-height: 1.3;
  color: white;
  margin-top: 40px;
  padding-left: 10%;
  padding-bottom: 40px;
}


h2 {
  font-family: "calluna";
  font-weight: 300;
  font-size: 2.3em;
  line-height: 1.3;
  color: white;
  padding-left: 10%;
  padding-top: 80px;
  // padding-bottom: 80px;
  margin-bottom: 40px;
}

h3 {
//memento italic description text
  font-family:"calluna";
  font-style: italic;
  font-size: 1.4em;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  line-height: 1.3;
  margin-bottom: 40px;
  color: $m-cream;
}

header {

  font-family: "lato";
  background: $m-charcoal;
  padding-bottom: 5px;
  padding-top: 10px;
  border-bottom: 3px white solid;
  color: $m-cream;
  overflow: hidden;

  img {
    float: left;
  }
}

.logo {
height: 50px;
padding-left: 9%;
padding-bottom: 5px;
}

li {
  font-family: "lato";
  font-size: 1.2em;
  font-weight: 300;
  color: $m-cream;
  padding-left: 10%;
  text-transform: uppercase;
  padding-bottom: 14px;
  padding-top: 14px;
  border-bottom: 1px gray solid;
  letter-spacing: 1.4px;
}

.mapsize {
  width: 80%;
  max-width: 600px;
  position: inline-block ;
  float: left;
  clear: both;
  margin-left: 8%;
  margin-bottom: 30px;
  margin-top: 30px;


  // max-width: 
}


// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
// creation page
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>


.wrapper {
  background-color: $m-medblue;
// opacity: .5;
  height: 3000px;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

// form {
// // margin-top: 30px;
// height: 1800px;
// // margin-left: 5%;
// // margin-right: 5%;
// background-color: $m-medblue;
// }

.creation-header {
font-size: 2em;
color: white;
font-weight: 300;
padding-top: 20px;
padding-bottom:20px;
border-bottom: 2px white solid;
border-top: 2px white solid;
background-color: $m-darkblue;
}

.creation-subheader {
font-size: 1.5em;
color: white;
font-weight: 300;
padding-top: 8px;
padding-bottom: 8px;
margin-bottom: 20px;
// border-bottom: 2px white solid;
// border-top: 2px white solid;
background-color: $m-darkblue;
  border-bottom: 2px white solid;
  border-top: 2px white solid;
}

// .input-field {
// height: 40px;
// background-color: $m-charcoal;
// // border-bottom: 3px $m-cream solid;

// }

.form-question {
  font-family: "lato";
  font-size: 1.2em;
  font-style: italic;
  color: $m-charcoal;
  font-weight: 600;
  margin-left: 10%;
  padding-top: 20px;
  padding-bottom: 15px;
  // letter-spacing: 1px;
}

// .form-input {
//   font-family: "calluna";
//   font-size: 1.3em;
//   line-height: 1.4;
//   color: $m-cream;
//   font-weight: 300;
//   margin-left: 10%;
//   padding-top: 10px;
//   padding-bottom: 15px;
//   letter-spacing: 1.2px;
//   padding-right: 15px;
// }

.ckbox {
  margin-top: 3px;
  margin-right: 5px;
  width: 12px;
  height: 12px;
  border: 1px gray solid;
  display: inline-block;
}

.ckbox-plus {
  margin-top: 3px;
  margin-right: 5px;
  width: 12px;
  height: 12px;
  border: 1px gray solid;
  display: inline-block;
}

.memento-description {
  font-family: "lato";
  font-size: 1.1em;
  letter-spacing: 1.2px;
  line-height: 1.4;
  color: $m-cream;
  font-weight: 600;
  padding-left: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 25px;
  background-color: $m-charcoal;
  margin-left: 10%;
  margin-right: 10%;
  border-bottom: 2px white solid;
  border-top: 2px white solid;
  width: 80%;
}

.threerowbox {
  height: 140px;
}

.newchapterbutton {
  border-radius: 30px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border-left: 2px white solid;
  border-right: 2px white solid;
  background-color: $m-darkblue;
  font-variant: small-caps;
  text-align: center;
  font-size: 1.35em;
  height: 25px;
  padding-top: 0px;
  margin-top: 50px;
 }

.textdec {
  // text-decoration: none;
  // input.submit:hover {
  //   background-color: black}
 }

em {
  font-family: "lato";
  font-style: italic;
  text-transform: uppercase;
  font-size: 0.6em;
  font-weight: 600;
  color: $m-yellow;
}

.chapter {
  margin-bottom: 20px;
  border-bottom: 2px white solid;
  border-top: 2px white solid;

}

.chapter-no {
  text-transform: uppercase;
  color: $m-paleblue;
  font-weight: 600;
  font-family: "lato";
  font-style: italic;
  font-size: 1.2em;
  letter-spacing: 2px;
  padding-bottom: 5px;

}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
// Chapter 4 input form page
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.overlay-chapterbar {
  margin-bottom: 0;
  padding-left: 30%;
  background-color: $m-medblue;

}

.overlay-container {
  // margin-left: 10%;
  // margin-right: 10%;
  overflow: hidden;
}

.icon {
  padding-top:5px;
  box-sizing: border-box;
  width: 65px;
  height: 65px;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
}

.sizetext {
  // height: 300px;
  border-left: $m-mauve solid 10px;
}

.sizeimage {
  // height: 200px;
  border-left: $m-red solid 10px;
}

.sizevideo {
  // height: 200px;
  border-left: $m-yellow solid 10px;
}


.iconcontainer {
  // padding-top: 8px;
  background-color: $m-cream;
  float: left;
  clear: both;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  // border-top: white 1px solid;
}

.text-right {
  float: right;
  display: block;
  width: 70%;
  clear: all; 
}

.icons-left {
  float: left;
  display: block;
  clear: all;
  width: 30%;
}

.icon-description{
  font-family: "lato";
  font-size: 0.8em;
  letter-spacing: 1.2px;
  line-height: 1.4;
  background-color: $m-charcoal;
  font-weight: 600;
  color: $m-cream;
  border-bottom: 2px white solid;
  // border-top: 2px white solid;
  float: right;
  display: inline-block;
  padding: 10px;
  min-width: 100%;
}

// .content-containers {
// height: 1800px;
// width: 100%;
// background-color: red;

// }




// .row {
//   width: 30%;
//   float: left;
//   display: block;
//   clear: float;
// }

// .input-column {
//   width: 60%;
//   float: right; 
// }

// .input-items {
//   width: 100%;
//   box-sizing: border-box;
//   height: 70px;
//   padding-top: 8px;
//   // display: inline
//   background-color: $m-cream;
//   font-weight: 600;
//   border-bottom: 2px white solid;
//   border-top: 2px white solid;
//   float: left;
// }

// .line {
//   border-bottom: 2px white solid;
//   border-top: 2px white solid;
// }




















// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
// modal overlay page (scrolling sample)
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>


.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  backface-visibility: hidden;
  transform: translateX(-50%) translateY(-50%);
}

.md-show {
  visibility: visible;
}

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(38,23,36,0.8);
  // background: $m-paleblue: #acb9c6;
  transition: all 0.3s;
}

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}



// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
// experience page (scrolling sample)
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>


.cd-fixed-bg {
  min-height: 50%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
 
.cd-fixed-bg.cd-bg-1 {
  background-image: url("/images/cd-background-1.jpg");
}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("/images/cd-background-2.jpg");
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url("/images/cd-background-3.jpg");
}
.cd-fixed-bg.cd-bg-4 {
  background-image: url("/images/cd-background-4.jpg");
}
 
.cd-scrolling-bg {
  min-height: 100%;
}

@media only screen and (min-width : 800px) {
   /* Small desktop*/


.chapter-list { 
  box-sizing: border-box;
  width: 37.5%;
  float: right;
  position: relative;
  clear: float;
  margin-left: 2.5%;
  margin-right: 10%;
  overflow: hidden;
  margin-bottom: 30px;
  // border-left: 1px white solid;
  // border-right: 1px white solid;
}

.intro-questions { 
  box-sizing: border-box;
  width: 37.5%;
  float: left;
  position: relative;
  clear: float;
  margin-left: 10%;
  margin-right: 2.5%;
  overflow: hidden;
  margin-bottom: 30px;
  // border-left: 1px white solid;
  // border-right: 1px white solid;
}

li {
  font-family: "lato";
  font-size: 1.2em;
  color: $m-darkblue;
  padding-left: 10%;
  text-transform: uppercase;
  padding-bottom: 14px;
  padding-top: 14px;
  border-bottom: none;
  letter-spacing: 1.4px;
  // display: inline;
  float: left;
  // outline: white 1px solid;
}

.newchapterbutton {
  margin-top: 72px;
}
// .menu {
//   display: inline;

// }

// .nav-collapse {
//   display: inline;

// }


}


// >>>>>>>>>>>>>>>>>>>>>>>>>>
   // overlay page
// >>>>>>>>>>>>>>>>>>>>>>>>>>









// .outline {
//   border-left: 1px white solid;
//   border-right: 1px white solid;
//   height: 700px;
//   width: 100%;

// }









