$m-red: #a62522;
$m-aqua: #84b5b0;
$m-yellow: #ffd681;
$m-mauve: #67657a;
$m-charcoal: #2c2e2e;
$m-gold: #cf8a4f;
$m-medmint: #78847e;
$m-paleblue: #acb9c6;
$m-brown: #5e5648;
$m-cream: #f6f1df;
$m-darkmint: #65766f;
$m-medblue: #8ba0b1;
$m-90-K: #404041;
$m-xdarkmint: #455b52;
$m-darkblue: #597289;