

body {
	font-family: Helvetica;
	background-color: #f5f8fa;
}

/* --------- Sections --------- */

.mainheader {
	position: relative;
	max-width: 1280px;
	background: url(assets/images/banner.jpg);
	background-size: cover;
	height: 373px;
}

.nav-bar {
	overflow: hidden;
	width: 100%;
	max-width: 1280px;
	background-color: #fff;
	height: 50px;
	position: fixed;
	z-index: 2;
}

.logomasthead {
	position: relative;
	max-width: 1280px;
	height: 63px;
	background-color: #fff;
	border-bottom: 2px solid #e7edf0;
	z-index: 1;
}

.tweet-stats-bar {
	background-color: white;
	height: 63px;
	width: 635px;
	margin-left: 485px;
}

.maincontent {
	background-color: gray;
	max-width: 947px;
	margin-left: 172px;
	margin-right: 161px;
	overflow: hidden;
}

.left-col-ironyard {
	float: left;
	width: 312px;
	min-height: 600px;
	margin-left: 170px;
}

.right-col-twitterfeed {
	float: left;
	width: 635px;
	min-height: 600px;
}


/* --------- Left column Ironyard --------- */

h1 {
	/* --the Iron Yard large text -- */
	margin-top: 50px;
	font-family: Helvetica;
	font-size: 18pt;
	color: black;
	font-weight: bold;	
}




/* --------- Right column Twitterfeed --------- */


.tweet-headerbar {
	width: 635px;
	background-color: white;
	margin-top: 10px;
	border-radius: 8px 8px 0 0;
	border: 2px solid #e7edf0;
	padding-top: 3px;
}

.tweetbar-links {
	display: inline-block;
	font-size: 19px;
	letter-spacing: .4px;
	color: #0095d4;
	font-weight: 400;
	margin: 17px;
}

.tweetbar-links-hilite {
	color: black;
	font-weight: bold;
}

.tweets {
	overflow: hidden;
	width: 635px;
	background-color: white;
	border-left: 2px solid #e7edf0;
	border-bottom: 2px solid #e7edf0;
	border-right: 2px solid #e7edf0;
	padding-bottom: 10px;

}

.logo-column {
	box-sizing: border-box;
	float: left;
	width: 74px;
	/*background-color: white;
	border-left: 2px solid #e7edf0;*/
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	background-color: white;
}

.tweet-boxes {
	box-sizing: border-box;
	float: right;
	width: 559px;
	background-color: white;
	min-height: 100px;
	padding-top: 12px;
}

.logo_tiy {
	width: 20px;
	padding-top: 5px;
}

.tweet-id-logos {
	width: 50px;
	margin-top: 5px;
}

.tweet-type-icon {
	width: 16px;
	float: right;
}

.tweet-cat-label {
	color: #677d8e;
	font-size: 8px;
}

.img1 {
	width: 118px;
	float: right;
	padding-right: 12px;
	margin-top: -30px;
	padding-left: 12px;
}

.image2 {
	width: 470px;
	overflow: hidden;
	float: top;
	border-radius: 10px 10px;
	padding-right: 200px;
}

.image2 img {
	width: 100%;
}


.btm-line {
	width: 561px;
}


/*
.label-blue {
	color: #0095d4 ;
	font-weight: bold;
}

.v-cntr-txt {
	vertical-align: center;
}*/




/* --------- Typography --------- */


.article-txt {
	font-size: 16px;
	font-weight: normal;
	line-height: 120%; 	
	margin-top: 8px;
}

.tweeter-articletitle-txt {
	font-weight: bold
}

.label-text {
	color:	#7e909f;
	font-size: 13px;
	font-weight: normal;
}
.account-text {
	font-size: 10pt;
	float: right;
	color: #849098;
}

.tweet-stats {
	display: inline-block;
	text-align: center;
	font-size: 11pt;
	font-family: Helvetica;
	font-variant: small-caps;
	font-weight: normal;
	color: #455763;
	line-height: 140%;
	padding: 10px 14px 0 14px;
}

.stat-numbers {
	font-size: 19;
	color: black;
}

.stat-number-hilite {
	border-bottom: 4px solid #0095d4;
	padding-bottom:	9px;
	padding-right: 16px;
	padding-left: 18px;
}

.stat-number-normal {
	color: #0095d4 ;
}

.flush-left { 
	padding-left: 8px;
}

.flush-right {
	float: right;	
	padding-right: 12px;
}

/* --------- Typography Plus - IronYard section--------- */

.intro-text {
	font-size: 16px;
	font-weight: normal;
	line-height: 140%; 	
	margin-top: 8px;
	margin-right: 30px; 
}

.at-text {
	font-size: 16px;
	padding-top: 4px; 
}


/* --------- Left Column Iron Yard --------- */



.intro-sm-icon {
	height: 16px;
	float: left;
}

.photo-container {
	width: 280px;
	padding-top: 12px;
}

.sq {
	width: 90px;
	border-radius: 5px;
}

.sign-up-block {
	box-sizing: border-box;
	margin-top: 25px;
	width: 312px;
	height: 162px;
	border-radius: 10px;
	background-color: #e1e8ed;
	position: relative;
	right: 12px;
	padding-left: 16px;
	font-weight: 100;
	font-size: 24px;
	color: #66747e;
	padding-top: 22px;
}

.sign-up-btn {
	box-sizing: border-box;
	position: relative;
	width: 282px;
	height: 44px;
	background-color: #0095d4;
	font-size: 16px;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	margin-top: 6px;
	padding-top: 14px;
}

.gray {
	color: #718594;
	font-size: 15;
}

.white-block {
	box-sizing: border-box;
	margin-top: 10px;
	width: 312px;
	height: 304px;
	border-radius: 10px;
	background-color: #fff;
	position: relative;
	right: 12px;
	border: 2px solid #e7edf0;
}

.white-block-label {
	font-weight: 100;
	font-size: 20px;
	margin-top: 14px;
	color: #66747e;
	padding-left: 16px;
}

.span2 {
	font-size: 14px;
}



/* --------- Typography - Tweet boxes--------- */

.label-1	{ /* type of tweet (pinned, etc.) */
	color: #677d8e;
	font-size: 14px; 
	font-weight: normal;
}

em {
	color: black;
	font-weight: bold;
	font-size: 16px;
}

.vert-sp-5px {
	padding-top: 5px;
}

.vert-sp-20px {
	padding-top: 20px;
}

h2 {
	font-size: 30px;
	font-weight: 200%;
	color: black;
	margin-top: 10px;
	line-height: 1.2;
	font-weight: 100;
}

span {
	color: #0095d4;
}

h3 {
	font-size: 15px;
	color: #0095d4;
	margin-top: 12px;
}


/* --------- Buttons + Icons (header)--------- */

.topbtn {
	border: 2px #e7edf0 solid;
	border-radius: 17px;
	background-color: #f5f8fa;
	height: 36px;
	width: 237px;
	float: right;
	margin-top: 7px;
	padding-left: 16px;
	padding-top: 10px;
	text-align: left;
	vertical-align: center;
	box-sizing: border-box;
	margin-right: 20px;
}


.action-icons {
	height: 17px;
}

.horiz {
	padding-top: 12px;
	display: inline-block;
}

.num {
	font-size: 12px;
	color: #63798a;
	font-weight: bold;
}
.h-spce {
	padding-right: 40px; 
}



/*.follow-btn { 
	box-size :border-box;
	display: inline-block;
	border: 2px #e7edf0 solid;
	border-radius: 5px;
	background-color: #f5f8fa;
	height: 20px;
	margin-top: 7px;
	padding-left: 10px;
	padding-top: 5px;
	padding-right: 30px;
	padding-bottom: 8px;
}
.follow-txt {
	font-weight: bold;
	font-size: 16px;
	text-align: left;
}
.follow-icon {
	height: 30px;
	padding-right: 8px;
}*/



/* --------- --------- */

strong {
	font-weight: bold;
}

.login {
	font-size: 15px;
	color: #849098;
}

.bkgd-icon {
	background: url(assets/icons/search.png);
	background: no-repeat;
}

.float-rt {
	float: right;
			}

.margin-btn {
	margin-top: 20px;
	margin-right: 193px;
}

.twitterlogo {
	width: 27px;
	margin-top: 16px;
	margin-left: 180px;
}

/* --------- Logos --------- */

.ironyardlogomain {
	box-siziing: border-box;
	position: absolute;
	width: 218px;
	height: 218px;
	border-radius: 14px;
	background-color: #fff;
	left: 158px;
	bottom: -34px;
	padding: 4px 4px;
	border: 1px solid #e7edf0;

}